/venv
/.idea
/.env
/env
env

# Ignore SQLite database
db.sqlite3

# Ignore SQLite journal (kalau ada)
*.sqlite3-journal

__pycache__/
*.pyc


# Ignore Python cache
__pycache__/
*.pyc
